/* Coolors Exported Palette - coolors.co/65655e-8aa2a9-dce2c8-c4b1ae-912f40 */

/* HSL */
$color1: hsla(60%, 4%, 38%, 1);
$color2: hsla(194%, 15%, 60%, 1);
$color3: hsla(74%, 31%, 84%, 1);
$color4: hsla(8%, 16%, 73%, 1);
$color5: hsla(350%, 51%, 38%, 1);

/* RGB */
$color1: rgba(101, 101, 94, 1);
$color2: rgba(138, 162, 169, 1);
$color3: rgba(220, 226, 200, 1);
$color4: rgba(196, 177, 174, 1);
$rojizo: rgba(145, 47, 64, 1);